html {
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
  background-color: #c9b5ab;
  line-height: 1.5;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1, h2, h1 + i {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
  font-weight: bold;
}

h1 + i {
  font-style: italic;
}

nav {
  font-family: 'PT Sans', sans-serif;
  font-size: .8rem;
  color: #8f2440;
  font-weight: bold;
}

figure > figcaption {
  font-style: italic;
  text-align: center;
}

blockquote {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  color: #222;
  font-style: italic;
}

figure + p {
  font-family: 'PT Serif', serif;
  font-size: .8rem;
  color: #222;
}

a:hover, a:link {
  color: #222;
}

ol {
  list-style-type: armenian;
}

ul {
  list-style-type: circle;
}
